body {
  background-color: #101521;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.name {
  font-size: 45px;
  color: #cbcebc;
  font-weight: 500;
  text-shadow: 8px 8px 8px #000000;
}

.section-heading {
  font-size: 30px;
  color: #cbcebc;
  font-weight: 500;
  text-shadow: 2px 2px 8px #000000;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.summary-content {
  height: 80px;
  width: 200px;
  margin: 20px;
  color: white;
  background-color: #3d424d66;
  border-radius: 10px;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary-content a {
  text-decoration: none;
  color: white;
}

.summary-content:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.about-me {
  margin: 70px;
  background-color: #3d424d66;
  height: 350px;
  width: 900px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills {
  margin-top: 70px;
  width: 300px;
}

.skill-subsection {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.about-me p {
  color: #5c6773;
  font-size: medium;
  text-align: justify;
  font-style: italic;
}

.about-me button {
  background-color: black;
  padding: 20px;
  color: #cbcebc;
  border-style: none;
  font-size: medium;
  border-radius: 10px;
  margin: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-me button:hover {
  color: black;
  background-color: #cbcebc;
  cursor: pointer;
}

.projects {
  margin: 70px;
  margin-top: 40px;
  background-color: #3d424d66;
  height: 350px;
  width: 900px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects p {
  color: #5c6773;
  font-size: medium;
  text-align: justify;
  font-style: italic;
  margin-top: 60px;
}

.projects button {
  padding: 5px;
  color: #95fb79;
  border-style: none;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  background-color: inherit;
  text-shadow: 4px 4px 8px #000000;
}

.projects button:hover {
  cursor: pointer;
  color: white;
}

.wrapper {
  display: inline-flex;
}
.wrapper .static-txt {
  color: #cbcebc;
  font-size: 40px;
  margin-top: 22px;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.dynamic-txts li {
  color: #ee68af;
  list-style: none;
  font-size: 40px;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -280px;
  }
}
.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #101521;
  border-left: 2px solid white;
  animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.skill-card {
  background-color: #3d424d66;
  color: #95fb79;
  border-radius: 5px;
  padding: 10px;
  font-size: small;
  margin: 5px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line {
  width: 45%;
  height: 3px; /* Adjust thickness as needed */
}

.fade-right {
  background: linear-gradient(to right, transparent, #3d424d66);
}

.fade-left {
  background: linear-gradient(to left, transparent, #3d424d66);
}

.linkedin {
  height: 48px;
  width: 48px;
  margin-inline: 5px;
  background-image: url("https://img.icons8.com/fluency-systems-regular/48/linkedin.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkedin:hover {
  background-image: url("https://img.icons8.com/fluency/48/linkedin.png");
}

.x {
  height: 48px;
  width: 48px;
  margin-inline: 5px;
  background-image: url("https://img.icons8.com/fluency-systems-regular/48/twitterx.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.x:hover {
  background-image: url("https://img.icons8.com/color/48/twitterx--v1.png");
}

.leetcode {
  height: 48px;
  width: 48px;
  margin-inline: 5px;
  background-image: url("https://img.icons8.com/external-tal-revivo-light-tal-revivo/48/external-level-up-your-coding-skills-and-quickly-land-a-job-logo-light-tal-revivo.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leetcode:hover {
  background-image: url("https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/external-level-up-your-coding-skills-and-quickly-land-a-job-logo-color-tal-revivo.png");
}

.github {
  height: 48px;
  width: 48px;
  margin-inline: 5px;
  background-image: url("https://img.icons8.com/fluency-systems-regular/48/github.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.github:hover {
  background-image: url("https://img.icons8.com/fluency/48/github.png");
}

.repo-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  color: black;
  transition: all 0.5s;
}

.repo-link:hover {
  color: white;
  text-shadow: 0px 0px 20px #614ad3;
}
